@model IEnumerable<Hotel_test1.Models.ROOM>

@{
    ViewBag.Title = "Danh sách phòng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "Room_id", rowsPerPage: 10);
}

<div id="gridContent" >
    @grid.GetHtml(
    tableStyle: "table table-bordered table-hover",
    footerStyle: "grid-footer",
    fillEmptyRows: true,
    mode: WebGridPagerModes.Numeric,
    alternatingRowStyle: "alternatingRowStyle",
    columns: new[]
    {
            grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("Room_id", "Mã phòng"),
            grid.Column("ROOMTYPE.RType", "Loại phòng"),
            grid.Column("", format: @<text>
                <a href="/ROOMs/Edit/@item.Room_id">
                    <i class='fas fa-edit' title='Edit' id='Edit'></i>
                </a>
                &nbsp;|                
                <form action="/ROOMs/Delete/@item.Room_id" method="POST" class="btn-delete">
                    <input type="hidden" name="id" value="@item.Room_id"/>     
                    @Html.AntiForgeryToken()                               
                    <button type="submit" id="submit" class="btn btn-link btn-delete" onclick="return confirm('Bạn chắc chắn muốn xóa ?');" >
                        <i class="fas fa-trash-alt text-danger"></i>
                    </button>                    
                </form>
                         
            </text>),
    }

    )
</div>


<!--
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROOMTYPE.RType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROOMTYPE.RType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Room_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Room_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Room_id })
        </td>
    </tr>
}

</table>

-->

