@model IEnumerable<Hotel_test1.Models.BOOKING>

@{
    ViewBag.Title = "Danh sách booking";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "Booking_id", rowsPerPage: 5);
}

    @using (Html.BeginForm("Index", "BOOKINGs", FormMethod.Get))
    {
    <p>
        

                @Html.TextBox("SearchString")
                <select name="category" id="category">
        
                    <option value="Booking_id" id="Booking_id">Mã Book</option>
        
                    <option value="CustomerLastName" id="CustomerLastName">Họ khách hàng</option>
        
                    <option value="CustomerFirstName" id="CustomerFirstName">Tên khách hàng</option>
        
                    <option value="RType" id="RType">Loại phòng</option>
        
                    <option value="Room_id" id="Room_id">Số phòng</option>
                </select>
        
                <input type="submit" value="Tìm kiếm" />
        
            </p>

    }

<div id="gridContent">
    @grid.GetHtml(
    tableStyle: "table table-bordered table-hover",
    footerStyle: "grid-footer",
    fillEmptyRows: true,
    mode: WebGridPagerModes.Numeric,
    alternatingRowStyle: "alternatingRowStyle",
    columns: new[]
    {
            grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("Booking_id", "Mã Booking"),
            grid.Column("CUSTOMER.CustomerLastName", "Họ"),
            grid.Column("CUSTOMER.CustomerFirstName", "Tên"),
            grid.Column("Check_in_date", "Ngày nhận phòng", format:@<text> @item.Check_in_date.ToString("dd/MM/yyyy")</text>),
            grid.Column("Check_out_date", "Ngày trả phòng", format:@<text> @item.Check_out_date.ToString("dd/MM/yyyy")</text>),
            grid.Column("Room_id", "Số phòng"),
            grid.Column("ROOM.ROOMTYPE.RType", "Loại phòng"),
            grid.Column("", format: @<text>


        <form action="/BOOKINGs/Delete/@item.Booking_id" method="POST" class="btn-delete">
            <input type="hidden" name="id" value="@item.Booking_id" />
            @Html.AntiForgeryToken()
            <button type="submit" id="submit" class="btn btn-link btn-delete" onclick="return confirm('Bạn chắc chắn muốn xóa ?');">
                <i class="fas fa-trash-alt text-danger"></i>
            </button>
        </form>
            </text>),
    }

    )
</div>


@section Scripts
{
    <script type="text/javascript">
        var myParam = location.search.split('category=')[1];
        if (myParam) {
            var category = document.getElementById(myParam);
            category.selected = "true";
        }
    </script>
}