@model Hotel_test1.Models.BILL

@{
    ViewBag.Title = "Thông tin chi tiết";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h4>Thông tin chi tiết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillPay_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillPay_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BILLPAY.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BILLPAY.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.CUSTOMER.CustomerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.CUSTOMER.CustomerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.CUSTOMER.CustomerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.CUSTOMER.CustomerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.Room_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.Room_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.ROOM.ROOMTYPE.RType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.ROOM.ROOMTYPE.RType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RENT.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RENT.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.Check_in_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.Check_in_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.Check_out_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.Check_out_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BILLPAY.PAYTYPE.PType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BILLPAY.PAYTYPE.PType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>


    </dl>
</div>