@model Hotel_test1.Models.BILL

@{
    ViewBag.Title = "Thông tin chi tiết";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Hóa đơn</h2><br /><h3 class="pull-right">@Html.DisplayFor(model => model.Bill_id)</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Hóa đơn tới:</strong><br>
                        @Html.DisplayFor(model => model.BOOKING.CUSTOMER.CustomerLastName) @Html.DisplayFor(model => model.BOOKING.CUSTOMER.CustomerFirstName)<br>
                        @Html.DisplayFor(model => model.BOOKING.CUSTOMER.CustomerTel)<br>
                        @Html.DisplayFor(model => model.BOOKING.CUSTOMER.CustomerEmail)<br>
                    </address>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Phương thức thanh toán:</strong><br>
                        @Html.DisplayFor(model => model.BILLPAY.PAYTYPE.PType)<br>
                        Thời gian thanh toán: @Html.DisplayFor(model => model.BILLPAY.Date)<br>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Chi tiết Book:</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Mã book</strong></td>
                                    <td class="text-center"><strong>Số phòng</strong></td>
                                    <td class="text-center"><strong>Loại phòng</strong></td>
                                    <td class="text-center"><strong>Ngày nhận phòng</strong></td>
                                    <td class="text-center"><strong>Ngày trả phòng</strong></td>
                                    <td class="text-right"><strong>Giá 1 đêm</strong></td>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>@Html.DisplayFor(model => model.Booking_id)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.BOOKING.Room_id)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.BOOKING.ROOM.ROOMTYPE.RType)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.BOOKING.Check_in_date)</td>
                                    <td class="text-center">@Html.DisplayFor(model => model.BOOKING.Check_out_date)</td>
                                    <td class="text-right">@Html.DisplayFor(model => model.RENT.Price)</td>
                                </tr>

                                <tr>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line text-center"><strong>Tổng cộng</strong></td>
                                    <td class="no-line text-right">@Html.DisplayFor(model => model.Total)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
    
<div>
    <h4>Thông tin chi tiết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillPay_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillPay_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BILLPAY.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BILLPAY.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.CUSTOMER.CustomerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.CUSTOMER.CustomerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.CUSTOMER.CustomerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.CUSTOMER.CustomerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.Room_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.Room_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.ROOM.ROOMTYPE.RType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.ROOM.ROOMTYPE.RType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RENT.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RENT.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.Check_in_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.Check_in_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOKING.Check_out_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOKING.Check_out_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BILLPAY.PAYTYPE.PType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BILLPAY.PAYTYPE.PType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>


    </dl>
</div>
-->