@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/RoomtypeDetail.css")">
}

@using Hotel_test1.Models

@model Hotel_test1.Models.ROOMTYPE

@{
    ViewBag.Title = Model.RType;
    Layout = "~/Views/Shared/_Layout.cshtml";

    var paytypeData = ViewBag.paytypeData as IEnumerable<Hotel_test1.Models.PAYTYPE>;

    String images = Model.Images;
    String[] listImg = images.Split(',');

    // @Html.DisplayFor(model => model.Images).ToString();
}


<div class="hero-wrap" style="background-image: url('/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Trang chủ</a></span> <span class="mr-2"><a href="../roomtypes">Loại phòng</a></span> <span>@Html.DisplayFor(model => model.RType)</span></p>
                    <h1 class="mb-4 bread">@Html.DisplayFor(model => model.RType)</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="container">
                            <div class="btn btn-primary btn-lg add-new-report" id="add-report" role="button" title="Add new report" data-toggle="tooltip" data-placement="right">
                                <span onclick="document.getElementById('check-form').style.display = 'block'">
                                    Đặt phòng ngay
                                </span>
                            </div>
                        </div>
                        <h2 class="mb-4">@Html.DisplayFor(model => model.RType)</h2>
                        <div class="single-slider owl-carousel">
                            @foreach (string img in listImg)
                            {
                                <div class="item">
                                    <div class="room-img" style="background-image: url(/images/@img);"></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-12 room-single mt-4 mb-5 ftco-animate">
                        <p>@Html.DisplayFor(model => model.Descriptions)</p>
                        <div class="d-md-flex mt-5 mb-5">
                            <ul class="list">
                                <li><span>Số người:</span> @Html.DisplayFor(model => model.MaxPerson)</li>
                                <li><span>Diện tích:</span> @Html.DisplayFor(model => model.Size) m2</li>
                            </ul>
                            <ul class="list ml-md-5">
                                <li><span>View:</span> @Html.DisplayFor(model => model.Views)</li>
                                <li><span>Giường:</span> @Html.DisplayFor(model => model.Bed)</li>
                            </ul>
                        </div>
                    </div>
                    <!--
                    <div class="col-md-12 room-single ftco-animate mb-5 mt-4">
                        <h3 class="mb-4">Take A Tour</h3>
                        <div class="block-16">
                            <figure>
                                <img src="/images/room-4.jpg" alt="Image placeholder" class="img-fluid">
                                <a href="https://vimeo.com/45830194" class="play-button popup-vimeo"><span class="icon-play"></span></a>
                            </figure>
                        </div>
                    </div>

                    
                        
                    
                    <div class="col-md-12 properties-single ftco-animate mb-5 mt-4">
                        <h4 class="mb-4">Review &amp; Ratings</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <form method="post" class="star-rating">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> 100 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i> 30 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 5 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 0 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 0 Ratings</span></p>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    -->


                </div>
            </div> <!-- .col-md-8 -->
            
            <div class="col-lg-4 sidebar ftco-animate">
                <!--
                    
                
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3>Categories</h3>
                        <li><a href="#">Properties <span>(12)</span></a></li>
                        <li><a href="#">Home <span>(22)</span></a></li>
                        <li><a href="#">House <span>(37)</span></a></li>
                        <li><a href="#">Villa <span>(42)</span></a></li>
                        <li><a href="#">Apartment <span>(14)</span></a></li>
                        <li><a href="#">Condominium <span>(140)</span></a></li>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Recent Blog</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/images/image_3.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">dish</a>
                        <a href="#" class="tag-cloud-link">menu</a>
                        <a href="#" class="tag-cloud-link">food</a>
                        <a href="#" class="tag-cloud-link">sweet</a>
                        <a href="#" class="tag-cloud-link">tasty</a>
                        <a href="#" class="tag-cloud-link">delicious</a>
                        <a href="#" class="tag-cloud-link">desserts</a>
                        <a href="#" class="tag-cloud-link">drinks</a>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>

                -->

            </div>
        </div>
    </div>
</section> <!-- .section -->


@{
    string display = "";
    string alertDisplay = "";
    if (ViewBag.isExist == true)
    {
        display = "block";
        alertDisplay = "none";
    }
    else if (ViewBag.showAlert == true)
    {
        display = "none";
        alertDisplay = "block";

            <div class="modal" id="alert" style="display: @alertDisplay;">
                <form class="modal-content animate" action="#">
                    <div class="imgcontainer"><span class="close" onclick="document.getElementById('alert').style.display = 'none'" title="Close">×</span></div>
                    <div class="container">
                        <b>Rất tiêc không có phòng trong khoản thời gian này</b>
                    </div>
                </form>
            </div>

    } else
    {
        display = "none";
    }


    <div class="modal" id="booking-form" style="display: @display;">
        <form class="modal-content animate" action="../Confirm" method="post">
            <div class="imgcontainer"><span class="close" onclick="document.getElementById('booking-form').style.display = 'none'" title="Close">×</span></div>
            <div class="container">
                <input class="" type="hidden" name="room_id" value="@ViewBag.room_id" />
                <input class="" type="hidden" name="roomtype_input" id="roomtype_input" value="@ViewBag.roomtype_input" />


                <label for="customerLastName"><b>Họ</b></label>
                <input class="form-control" type="text" name="customerLastName" autocomplete="off" required>

                <label for="customerFirstName"><b>Tên</b></label>
                <input class="form-control" type="text" name="customerFirstName" autocomplete="off" required>

                <label for="tel"><b>Điện thoại</b></label>
                <input class="form-control" type="text" name="tel" autocomplete="off" required>

                <label for="email"><b>Email</b></label>
                <input class="form-control" type="text" name="email" autocomplete="off" required>

                <label for="roomtype_show"><b>Loại phòng</b></label>
                <input class="form-control uneditable" type="text" name="roomtype_show" value="@ViewBag.roomtype_show" readonly="readonly" autocomplete="off">

                <label for="check_in_date_input"><b>Ngày nhận phòng</b></label>
                <input class="datetimepicker form-control uneditable" type="text" name="check_in_date_input" value="@ViewBag.check_in_date_input" readonly="readonly" autocomplete="off">

                <label for="check_out_date_input"><b>Ngày trả phòng</b></label>
                <input class="form-control uneditable" type="text" name="check_out_date_input" value="@ViewBag.check_out_date_input" readonly="readonly" autocomplete="off">


                <!-- paytype -->
                <label><b>Phương thức thanh toán:&nbsp;</b></label>
                <br />
                @foreach (var pt in paytypeData)
                {
                    <input class="" type="radio" name="paytype" id="@pt.PayType_id" value="@pt.PayType_id" required>
                    <label for="@pt.PayType_id"><b>@pt.PType</b></label>
                }
                <br />

                <label for="price"><b>Giá phòng</b></label>
                <input class="form-control uneditable" type="text" name="price" value="@ViewBag.price" readonly="readonly" autocomplete="off">

                <label for="total"><b>Tổng tiền</b></label>
                <input class="form-control uneditable" type="text" name="total" value="@ViewBag.total" readonly="readonly" autocomplete="off">


                <button type="submit">Booking</button>
            </div>
        </form>
    </div>

}


<div class="modal" id="check-form">
    <form class="modal-content animate" action="./@Model.RoomType_id" method="post">
        <div class="imgcontainer"><span class="close" onclick="document.getElementById('check-form').style.display = 'none'" title="Close">×</span></div>
        <div class="container">
            <input type="hidden" name="roomtype" value="@Model.RoomType_id"/>
            
            <label for="check_in_date"><b>Ngày nhận phòng</b></label>
            <input class="form-control checkin_date" type="text" name="check_in_date" autocomplete="off" placeholder="Check-in date">

            <label for="check_out_date"><b>Ngày trả phòng</b></label>
            <input class="form-control checkout_date" type="text" name="check_out_date" autocomplete="off" placeholder="Check-out date">

            <button type="submit">Tìm kiếm</button>
        </div>
    </form>
</div>
