@model Hotel_test1.Models.RENT

@{
    ViewBag.Title = "Thêm giá phòng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })        

        <!--
        <div class="form-group">
            @Html.LabelFor(model => model.Rent_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rent_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rent_id, "", new { @class = "text-danger" })
            </div>
        </div>
        -->
        <div class="form-group">
            @Html.LabelFor(model => model.RoomType_id, "Loại phòng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoomType_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoomType_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    Đang sử dụng @Html.RadioButtonFor(model => model.IsActive, "True", new { @checked = "checked" }) &nbsp;
                    Không sử dụng @Html.RadioButtonFor(model => model.IsActive, "False")
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.From_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="from_date" type="text" class="form-control from_date" placeholder="From date">
                <!--
                    @Html.EditorFor(model => model.From_Date, new { htmlAttributes = new { @class = "form-control" } })
                -->                
                @Html.ValidationMessageFor(model => model.From_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.To_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="from_date" type="text" class="form-control from_date" placeholder="To date">
                <!--
                    @Html.EditorFor(model => model.To_Date, new { htmlAttributes = new { @class = "form-control" } })
                -->                
                @Html.ValidationMessageFor(model => model.To_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
